@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --cor0: #EE2E31;
    --cor1: #F4C095;
    --cor2: #679289;
    --cor3: #1D7874;
    --cor4: #071E22;
    --font-header: 'Unbounded', cursive; 
}


body{
    background-color: var(--cor1);
}

img{
    width: 30em;
}

header{

}


#title{
    font-family: var(--font-header);
    line-height: 15px;
}

ul > a{
    margin: 30px;
}

h1{
    line-height: 10px;
}

