@charset "UTF-8";

body{
    margin: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

img{
    display: none;
}

nav{
    display: inline-block;
    right: 100px;
}

#title{
    line-height: 15px;
    display: inline-block;
}

a{
    margin: 2px;
    text-decoration: none;
    padding: 6px;
}

.anun{
    line-height: 25px;
    font-size: 30px;
}

form{
    margin: auto;
    display: block;
    padding: 15px;
    line-height: 20px;
}

input{
    margin: auto;
    padding: 5px;
}